.header {
  padding-top: 23px;
  font-size: $font-size-sm;

  & .header-top-wrap {
    display: flex;
    align-items: center;

    & .header-select-wrap {
      position: relative;
      margin-top: 14px;
      margin-right: 3%;
      padding-left: 0;

      & .header-city-select {
        width: auto;
        border: none;
        background-image: url("../../dist/images/icons/arrow-down.svg");
        background-size: 9px 6px;
        background-position: right 1.2rem top 0.84rem;
        color: $primary;
        padding-left: 24px;
        cursor: pointer;
      }

      &::after {
        content: "";
        position: absolute;
        top: 6px;
        left: 2px;
        width: 12px;
        height: 16px;
        background-image: url("../../dist/images/icons/pin.svg");
        background-repeat: no-repeat;
      }

      &:hover,
      &:focus {
        &::after {
          opacity: 0.5;
        }
      }

      @media (max-width: $container-max-widths-xxxl) {
        margin-right: 0;
      }
      @media (max-width: $container-max-widths-lg) {
        order: 2;
      }
    }

    & .header-phone-wrap {
      position: relative;
      margin-top: 16px;
      margin-right: calc(15% + 3px);

      & a {
        padding-left: 26px;

        &:hover,
        &:focus {
          &::after {
            opacity: 0.5;
          }
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 16px;
        height: 16px;
        background-image: url("../../dist/images/icons/phone.svg");
        background-repeat: no-repeat;
      }

      @media (max-width: $container-max-widths-xxxl) {
        margin-right: 0;
      }
      @media (max-width: $container-max-widths-lg) {
        order: 3;
      }
    }

    & .header-logo-link {
      margin-right: calc(17% + 8px);

      & .header-logo {
        margin-left: 1px;
        margin-bottom: 4px;
      }

      @media (max-width: $container-max-widths-xxxl) {
        margin-right: 0;
      }
      @media (max-width: $container-max-widths-lg) {
        order: 1;
      }
    }

    & .user-menu {
      margin-top: 14px;
      margin-right: calc(5% + 4px);
      display: flex;
      align-items: center;

      & .user-menu-link {
        display: block;

        &:hover,
        &:focus {
          opacity: 0.5;
        }

        &:not(:last-child) {
          padding-right: 10px;
          position: relative;

          &::after {
            content: "|";
            position: absolute;
            top: 6px;
            right: -2px;
            font-size: 8px;
          }
        }

        &:not(:first-child) {
          padding-left: 10px;
        }
      }

      @media (max-width: $container-max-widths-xxxl) {
        margin-right: 0;
      }
      @media (max-width: $container-max-widths-lg) {
        order: 4;
      }
    }

    & .header-buttons-wrap {
      display: flex;
      align-items: center;

      & .header-button {
        margin-top: 14px;
        border-radius: 0;
        width: 32px;
        height: 32px;
        border: none;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;

        &:not(:last-child) {
          margin-right: 25%;

          @media (max-width: $container-max-widths-xxxl) {
            margin-right: 15px;
          }
        }

        @media (max-width: $container-max-widths-xxxl) {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &:hover,
        &:focus {
          background-color: #f8f8f8;
        }

        &:active {
          background-color: #e8e7e7;
        }
      }

      & .favorite-button {
        background-image: url("../../dist/images/icons/favorite.svg");

        &::after {
          content: attr(data-count);
          position: absolute;
          width: 19px;
          height: 19px;
          top: -1px;
          right: -12px;
          background-color: #e46942;
          border-radius: 50%;
          font-size: 10px;
          font-weight: 700;
          line-height: 19px;
        }
      }

      & .chart-button {
        background-image: url("../../dist/images/icons/chart.svg");
      }

      & .bag-button {
        background-image: url("../../dist/images/icons/bag.svg");
      }

      @media (max-width: $container-max-widths-xxxl) {
        margin-right: 0;
      }
      @media (max-width: $container-max-widths-lg) {
        order: 5;
      }
    }

    @media (max-width: $container-max-widths-xxxl) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @media (max-width: $container-max-widths-lg) {
      flex-direction: column;
    }
  }
}
