.header {
  padding-top: 23px;
  font-size: $font-size-sm;
  & .navbar {
    padding: 0;

    & .navbar-brand {
      display: none;

      @media (max-width: 992px) {
        display: block;
      }
    }

    & .navbar-collapse {
      width: 100%;
      flex-direction: column;

      & .header-top-wrap {
        width: 100%;
        align-items: center;

        & .header-select-wrap {
          position: relative;
          margin-top: 15px;
          margin-right: 3%;
          padding-left: 0;

          & .header-city-select {
            width: auto;
            border: none;
            background-image: url("../../dist/images/icons/arrow-down.svg");
            background-size: 9px 6px;
            background-position: right 1.2rem top 0.84rem;
            color: $primary;
            padding-left: 24px;
            cursor: pointer;
          }

          &::after {
            content: "";
            position: absolute;
            top: 6px;
            left: 2px;
            width: 12px;
            height: 16px;
            background-image: url("../../dist/images/icons/pin.svg");
            background-repeat: no-repeat;
          }

          &:hover,
          &:focus {
            &::after {
              opacity: 0.5;
            }
          }

          @media (max-width: $container-max-widths-xxxl) {
            margin-right: 0;
          }
        }

        & .header-phone-wrap {
          position: relative;
          margin-top: 16px;
          margin-right: calc(15% + 3px);

          & a {
            padding-left: 26px;
          }

          &::after {
            content: "";
            position: absolute;
            top: 2px;
            left: 0;
            width: 16px;
            height: 16px;
            background-image: url("../../dist/images/icons/phone.svg");
            background-repeat: no-repeat;
          }

          &:hover,
          &:focus {
            &::after {
              opacity: 0.5;
            }
          }

          @media (max-width: $container-max-widths-xxxl) {
            margin-right: 0;
          }
        }

        & .header-logo-link {
          margin-right: calc(17% + 8px);

          & .header-logo {
            margin-left: 1px;
            margin-bottom: 4px;
          }

          @media (max-width: $container-max-widths-xxxl) {
            margin-right: 0;
          }
          @media (max-width: 992px) {
            display: none;
          }
        }

        & .user-menu {
          margin-top: 15px;
          margin-right: calc(5% + 4px);
          display: flex;
          align-items: center;

          & .user-menu-link {
            display: block;

            &:hover,
            &:focus {
              opacity: 0.5;
            }

            &:not(:last-child) {
              padding-right: 10px;
              position: relative;

              &::after {
                content: "|";
                position: absolute;
                top: 6px;
                right: -2px;
                font-size: 8px;
              }
            }

            &:not(:first-child) {
              padding-left: 10px;
            }
          }

          @media (max-width: $container-max-widths-xxxl) {
            margin-right: 0;
          }
        }

        & .header-buttons-wrap {
          display: flex;
          align-items: center;
          margin-top: 14px;

          & .header-button {
            border-radius: 0;
            width: 32px;
            height: 32px;
            border: none;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;

            &:not(:last-child) {
              margin-right: 25%;

              @media (max-width: $container-max-widths-xxxl) {
                margin-right: 15px;
              }
            }

            @media (max-width: $container-max-widths-xxxl) {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }

            &:hover,
            &:focus {
              background-color: $bg-gray-color;
            }

            &:active {
              background-color: #e8e7e7;
            }
          }

          & .favorite-button {
            background-image: url("../../dist/images/icons/favorite.svg");

            &::after {
              content: attr(data-count);
              position: absolute;
              width: 19px;
              height: 19px;
              top: -1px;
              right: -12px;
              background-color: #e46942;
              border-radius: 50%;
              font-size: 10px;
              font-weight: 700;
              line-height: 19px;
            }
          }

          & .chart-button {
            background-image: url("../../dist/images/icons/chart.svg");
          }

          & .bag-button {
            background-image: url("../../dist/images/icons/bag.svg");
          }

          @media (max-width: $container-max-widths-xxxl) {
            margin-right: 0;
          }
        }

        @media (max-width: $container-max-widths-xxxl) {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        @media (max-width: 992px) {
          align-items: flex-start;
        }
      }

      & .header-bottom-wrap {
        width: 100%;
        height: 62px;
        background-color: $bg-gray-color;
        margin-top: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;

        @media (max-width: 992px) {
          background-color: #fff;
          height: auto;
          padding: 0;
          margin: 0;
          align-items: flex-start;
        }

        & .nav-link.active {
          opacity: 0.5;
        }
        & .nav-link {
          color: $primary;
          padding: 0;
        }

        & .navbar-nav {
          font-size: 13px;
          font-weight: 500;
          text-transform: uppercase;

          & .nav-item {
            &:not(:last-child) {
              padding-right: 60.5px;
            }
          }

          @media (max-width: $container-max-widths-xxxl) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-right: 80px;
            & .nav-item {
              &:not(:last-child) {
                padding-right: 0;
              }
            }
          }

          @media (max-width: 992px) {
            display: none;
          }
        }

        & .header-navbar-select {
          display: none;
          width: auto;
          border: none;
          background-image: url("../../dist/images/icons/arrow-down.svg");
          background-size: 9px 6px;
          background-position: right 1.2rem top 0.84rem;
          color: $primary;
          cursor: pointer;
          margin-bottom: 5px;
          padding-left: 0;

          @media (max-width: 992px) {
            display: block;
          }
        }

        & .search-form {
          margin-right: 6px;
          position: relative;

          &::before {
            content: "";
            width: 1px;
            height: 62px;
            background-color: #f0f0f0;
            position: absolute;
            top: -20px;
            left: -56px;

            @media (max-width: 992px) {
              display: none;
            }
          }

          &::after {
            content: "";
            width: 20px;
            height: 20px;
            background-image: url("../../dist/images/icons/search.svg");
            position: absolute;
            top: 0;
            left: -32px;

            @media (max-width: 992px) {
              left: 5px;
              top: 10px;
            }
          }

          & .form-control {
            background-color: $bg-gray-color;
            border: none;
            font-weight: 400;
            font-size: 14px;
            padding: 0;

            &::placeholder {
              color: #a2a2a2;
            }

            @media (max-width: 992px) {
              padding: 10px 10px 10px 30px;
            }
          }
        }
      }
    }
  }
}
